body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.frame{
    border: 1px solid #000000;

    background : #808080;

    padding:30px;
     width:300px;
}

.hr1{
    padding-left: 20px;
    padding-right:20px;
    margin-top : 20px;
}

.input-name{
    width: 100%;
    margin-bottom:30px;
}

.dropdown-difficulty{
    width: 100%;
    margin-bottom:30px;
}

.start-btn{
    background:#1e1d1d;
width: 100%;   
}